@font-face {
  font-family: 'PressStart2P';
  src: url('PressStart2P-Regular.woff2') format('woff2'),
       url('PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter — вариативный, диапазон 400–700 */
@font-face {
  font-family: 'Inter';
  src: url('Inter.var.woff2') format('woff2 supports variations'),
       url('Inter.var.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
