/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  min-block-size: 100dvh;
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--weight-text);
  background: var(--page-bg) center/cover fixed;
  color: var(--text-color);
}

h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
