/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" var(--weight-text);
  font-size: var(--font-size-main);
  background-attachment: fixed;
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.center {
  width: var(--header-width);
  max-width: 100%;
  margin: 0 auto;
}

.header {
  padding-block: 100px 50px;
  text-align: center;
}

.header__content {
  background-color: var(--bg-color);
  font-family: var(--font-accent, sans-serif);
  display: flex;
  flex-direction: column;
  height: 368px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--text-color);
}

.header__title {
  font-size: var(--title-font-size)
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.676rem + 0.85vw, 1.4375rem));
  text-transform: uppercase;
}

.main {
  margin-top: 100px;
}
  
.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap-cards);
  overflow: hidden;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
}

.card__title {
  font-variation-settings: "wght" 700;
  font-style: bold;
  padding: 3px 24px 3px 10px;
  font-size: var(--font-size-main);
}

.card__image-wrapper {
  position: relative;
}

.card__image-wrapper img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}
  
.card__label {
  position: absolute;
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  opacity: 0.5;
  z-index: 1;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--bg-color, #fff),
    0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff),
    0 -1px var(--bg-color, #fff);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.filter-sepia {
  filter: sepia(1);
}
.filter-hue {
  filter: hue-rotate(180deg);
}
.filter-grayscale {
  filter: grayscale(50%);
}
.filter-invert {
  filter: invert(100%);
}
.filter-contrast {
  filter: contrast(200%);
}
.filter-blur {
  filter: blur(4px);
}
.filter-sat {
  filter: saturate(400%);
}
.filter-multiple {
  filter: sepia(1) hue-rotate(90deg);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 0 25px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  padding: 9px 0 0 0;
}

.button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--text-color);
  background: var(--bg-color);
  z-indext: 1;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:hover {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--bg-color);
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  line-height: 90%;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--button-shadow);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--button-shadow);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--button-shadow);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--button-shadow-hover);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--button-shadow-hover);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--button-shadow-hover);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--button-shadow-hover);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--button-shadow-hover);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-animation 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--button-shadow);
  transition: fill 0.1s linear;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-text-color);
}

.save_button-wrapper {
  margin-top: 48px;
  width: 335px;
  height: 51px;
  margin-bottom: 103px;
}

.save_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 21px;
  font-size: 14px;
  text-wrap: nowrap;
}

.floppy {
  width: 21px;
  height: 21px;
}

.modal[open] {
  width: 353px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.modal__title {
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  text-transform: uppercase;
}

.dialog-text-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.modal[open] .floppy {
  width: 39px;
  height: 39px;
}

.modal__button {
  border: 2px solid var(--text-color);
}
