/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter-Variable", Arial, sans-serif;
  --font-accent: "PressStart2P", "Courier New", monospace;
  --weight-text: 400;
  --weight-title: 700;
  --text-color: #000;
  --bg-color: #fff;
  --heart-contour: #000;
  --font-size-main: 18px;
  --header-width: clamp(min(100%, 375px), 50vw, 700px);
  --title-font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  --gap-cards: 50px;
  --page-bg: repeating-linear-gradient(
        to right,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --contour-col: #000;
  --animation-col: #f00;
}
